body{overflow-x: hidden; font-family: 'Noto+Sans+KR'; font-size: 1.6rem; line-height: 1.5; color: #000;}

#wrap {overflow-x: hidden;}

.clearfix::after{content: ''; display: block; clear: both}

.inner{ margin: 0 auto;}

#header .inner{display: flex; justify-content: space-between; height: 100px;}
#header .gnb>li{ float: left; padding-top: 40px;}
#header .gnb>li a{font-weight: 700; height: 25px; display: block; border-left: 3px #606060 solid; margin-left: 50px; padding-left: 20px;}


#main .mv img{width: 100%;}
#visual{position: relative;}
#main h2{display: block; background: #000; color: #fff; border-radius: 15px; position: absolute ; bottom: 130px; left: 47%; font-size: 2rem; font-weight: 700; width: 120px; height: 50px; text-align: center; padding-top: 10px;}
#main .next,.prev img{  height: 100px; width: 20px;}
#main .next{position: absolute; right: 20px; bottom: 50%}
#main .prev{position: absolute; left: 20px; bottom: 50%}

#main .inner{display: flex; justify-content: space-between; margin: 0 200px 100px;}

#main dt{font-size: 3rem; text-align: center; border: #606060 solid 1px; border-radius: 20px; width: 250px; margin: 150px 80px 50px;}
#main dd {padding-left: 50px; cursor: pointer;}
#main dd img{background: #ddd; border-radius: 50%;}

#main .item .inner{margin: 0 200px;}

